section.box {
  background: var(--shapes);
  border-radius: 1rem;

  margin-top: -10rem;
  padding: 70px 60px;

  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--text-title);
      font-size: 2.25rem;
    }
  }
}
